<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.jakting.fff"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application android:icon="@mipmap/ic_launcher" android:label="@string/fff" android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/fff">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="2.0*" />
        <meta-data android:name="xposeddescription" android:value="@string/fff_des" />

    </application>

</manifest>
